body {
    font-family: Calibri, sans-serif;
}

header {
    position: relative;
    height: 200px; /* Adjust the height as needed */
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire header */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.input-section {
    margin-bottom: 20px;
}

.input-section label {
    display: block;
    margin-bottom: 10px;
}

.input-section input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: black;
    background-color: white;
    border: 1px solid #ddd;
}

.input-section button {
    padding: 8px 15px;
    background-color: #480051;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Calibri
}

.input-section button:hover {
    background-color:  #48005180;
}

#skuList {
    position: relative;
    background-color: #fff;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
}

#skuList div {
    padding: 5px;
    cursor: pointer;
}

#skuList div:hover {
   background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    bborder: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
     background-color: #f2f2f2;
     color: black;
}

#exportBtn {
    margin-top: 20px;
    padding: 8px 15px;
    background-color: #02889ae9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Calibri
}

#exportBtn:hover {
    background-color: #02889a79;
}
