body {
    font-family: Calibri, sans-serif;
}

header {
    position: relative;
    height: 200px; /* Adjust the height as needed */
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire header */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.input-section {
    margin-bottom: 20px;
}

.input-section label {
    display: block;
    margin-bottom: 10px;
}

.input-section input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.input-section button {
    background-color: rgb(49, 0, 49);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-section button:hover {
    background-color: darkpurple;
}

#skuList {
    display: none;
    position: absolute;
    width: calc(100% - 22px); /* Adjust based on input field padding and border */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

#skuList div {
    padding: 10px;
    cursor: pointer;
}

#skuList div:hover {
    background-color: #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(49, 0, 49);
    color: white;
}

#exportBtn {
    margin-top: 10px;
    background-color: rgb(2, 112, 98);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#exportBtn:hover {
    background-color: darkpurple;
}
